@model Annual_faculty_promotions.Core.Domain.Request


<ul class="breadcrumb breadcrumb-page">
    <li><a href="javascript:void(0)">صفحه اصلی</a></li>
    <li><a href="javascript:void(0)">کارتابل</a></li>
    <li class="active"><a href="javascript:void(0)">فعالیت های پژوهشی</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <div class="pull-left col-xs-8">

            <span><img class="img-circle img-thumbnail" style="width: 50px;height: 50px" src="@Url.Content("~/Content/Images/Avatars/"+Model.User.Profile.Avatar)" alt="" /> </span>&nbsp;&nbsp;&nbsp;
            شماره درخواست: <strong id="current-rating-example">@Model.Id</strong>&nbsp;&nbsp;&nbsp;
            نام و نام خانوادگی درخواست کننده : <strong id="your-rating-example">@Model.User.Profile.Name &nbsp; @Model.User.Profile.Family</strong><br><br>

        </div>

        <div class="pull-right col-xs-12 col-sm-auto">
            <a href="@Url.Action("Index", "Cartable")" class="btn btn-warning btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-undo"></span>برگشت به کارتابل</a>
        </div>
    </div>
</div>

<div class="page-header" style="height: 600px">
    <div class="row">
        <table id="dgCResearch"></table>
    </div>
</div>

@section scripts{
    <script src="~/Content/jquery-easyui-1.4.2/edatagrid.js"></script>
    <script>
        var row = null;
        var index = null;
        $('#dgCResearch').edatagrid({
            toolbar:
            [
                {
                    text: 'ویرایش',
                    iconCls: 'icon-edit',
                    hidden:"@(User.IsInRole("RK")?"":"hidden")",
                    handler: function () {
                        row = $('#dgCResearch').edatagrid('getSelected');
                        if (row == null) {
                            $.messager.alert("warning","سطری انتخاب نشده است!");
                            return;
                        }
                        index = $('#dgCResearch').edatagrid('getRowIndex', row);
                        $('#dgCResearch').edatagrid('editRow', index);
                    }
                },
                {
                    text: 'ذخیره',
                    iconCls: 'icon-save',
                    hidden:"@(User.IsInRole("RK")?"":"hidden")",
                    handler: function () {
                        $('#dgCResearch').edatagrid('saveRow');
                    }
                }, '-',
                {
                    text: 'انصراف',
                    iconCls: 'icon-undo',
                    hidden:"@(User.IsInRole("RK")?"":"hidden")",
                    handler: function () {
                        $('#dgCResearch').edatagrid('cancelRow', index);
                    }
                }
            ],
            title: 'فعالیت های پژوهشی',
            idField: 'id',
            loadMsg: 'شکیبا باشید...',
            rownumbers: true,
            height: 600,
            singleSelect: 'true',
            queryParams: { requestid: '@Model.Id' },
            url: '@Url.Action("GetResearch", "Cartable")',
            updateUrl: '@Url.Action("UpdateEducationReasearch", "Cartable")' + '?requestid=@Model.Id',
            onError: function (index, row) {
                $.messager.alert('پیام', row.Msg);
            },
            columns: [
                [
                    {
                        field: 'EducationalResearchStatus',
                        title: 'نوع',
                        value: 1,
                        hidden:"hidden",
                        width: 80
                    },
                    {
                        field: 'Term',
                        title: 'نیمسال',
                        hidden: "hidden",
                        width: 80
                    },
                    {
                        field: 'TermName',
                        title: 'نیمسال',
                        width: 100
                    },
                    {
                        field: 'Subject',
                        title: 'طرح موظف پژوهشی',
                        width: 300
                    },
                    {
                        field: 'ResearchPost',
                        hidden: "hidden"
                    },
                    {
                        field: 'ResearchPostTitle',
                        autoRowHeight: true,
                        title: 'سمت در طرح',
                        width: 100
                    },
                    {
                        field: 'BeginDate',
                        autoRowHeight: true,
                        title: 'تاریخ شروع',
                        width: 100
                    },
                    {
                        field: 'EndDate',
                        autoRowHeight: true,
                        title: 'تاریخ خاتمه',
                        width: 100
                    },
                    {
                        field: 'StudentCount',
                        autoRowHeight: true,
                        title: 'تعداد دانشجو',
                        width: 100
                    },
                    {
                        field: 'EvaluationFormCount',
                        autoRowHeight: true,
                        title: 'ت فرم ارزشیابی',
                        width: 100,
                        hidden:"@(((ViewBag.roleName == "RK") || (ViewBag.roleName == "MA")) ? "" : "hidden")",
                        editor: { type: 'textbox', width: 100, options: { required: true } }
                    },
                    {
                        field: 'QualityTeaching',
                        autoRowHeight: true,
                        title: 'کیفیت تدریس',
                        width: 80,
                        hidden:"@(((ViewBag.roleName == "RK") || (ViewBag.roleName == "MA")) ? "" : "hidden")",
                        editor: { type: 'textbox', width: 100, options: { required: true, precision: 2 } }
                    },
                    {
                        field: 'UnitEqual',
                        autoRowHeight: true,
                        title: 'واحد معادل',
                        width: 80,
                        hidden:"@(((ViewBag.roleName == "RK") || (ViewBag.roleName == "MA")) ? "" : "hidden")",
                        editor: { type: 'textbox', width: 100, options: { required: true, precision: 2 } }
                    }
                ]
            ]
        });

    </script>
}
