@using Annual_faculty_promotions.Core.Enums
@using Annual_faculty_promotions.WebUI.Helpers.Util
@using Microsoft.AspNet.Identity
@model Annual_faculty_promotions.Core.Domain.Messaging
<style>
    .flexnav {
        -webkit-padding-start: 0px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        width: 90%;
        position: relative;
        z-index: 1;
    }
</style>
<div class="row">
    <div class="panel widget-messages-alt">
        <div class="panel-heading">
            <span class="panel-title">پیامی را ارسال نمائید</span>
        </div>
        <div class="panel-body">
            <div class="form-group" style="margin-top: 10px">
                <div class="col-md-11">
                    <div class="form-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary">ارسال پیام</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu flexnav">
                                <li><a class="btnNotificationSend" href="javascript:void(0)" data-rl="MG">مدیر گروه</a></li>
                                <li><a class="btnNotificationSend" href="javascript:void(0)" data-rl="RD">رئیس دانشکده</a></li>
                                <li><a class="btnNotificationSend" href="javascript:void(0)" data-rl="RK">رئیس کارگزینی</a></li>
                                <li><a class="btnNotificationSend" href="javascript:void(0)" data-rl="MA">معاون آموزشی</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="no-panel-padding-h panel-wide" />
</div>
<div class="panel widget-messages-alt">
    <div class="panel-heading">
        <span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>لیست پیام ها</span>
    </div> <!-- / .panel-heading -->
    <div class="panel-body padding-sm">
        <div class="messages-list">
                <div class="message" style=@(Model.UserSenderId != int.Parse(User.Identity.GetUserId())?"margin-right:50px":"")>
                    @if ((Model.UserSender != null) && (Model.UserSender.Profile != null) && (!string.IsNullOrWhiteSpace(Model.UserSender.Profile.Avatar)))
                    {
                        <img class="message-avatar" src="@Url.Content("~/Content/Images/Avatars/" + Model.UserSender.Profile.Avatar)" alt="" />
                    }
                    else
                    {
                        <img class="message-avatar" src="@Url.Content("~/Content/Images/Avatars/profilepicture.png")" alt="" />
                    }
                    <a href="javascript:void(0)" class="message-subject">@Model.Text</a>
                    <div class="message-description">
                        فرستنده:<a href="javascript:void(0)" title="">
                            @if (Model.UserSender != null && Model.UserSender.Profile != null)
                            {
                                @(Model.UserSender.Profile.Name + " " + Model.UserSender.Profile.Family)
                            }
                        </a>|
                        گیرنده <a href="javascript:void(0)" title="">@(Model.UserReciever.Profile.Name + " " + Model.UserReciever.Profile.Family)</a>
                        &nbsp;&nbsp;·&nbsp;&nbsp;
                        @RelativeTimeCalculator.Calculate(Model.CreatedDate)
                    </div> <!-- / .message-description -->
                </div>
        </div> <!-- / .messages-list -->
        <a href="javascript:void(0)" class="messages-link">نمایش بیشتر</a>
    </div> <!-- / .panel-body -->
</div>

@Scripts.Render("~/bundles/jqueryval")


